<p id="notice"><%= notice %></p>

<h1>
  <%= @survey.name %>
</h1>

<ol>
  <% for question in @survey.questions %>
  <li><%= h question.content %></li>
  <ul>
    <% for answer in question.answers %>
      <li><%= h answer.content %></li>
    <% end %>
  </ul>
  <% end %>
</ol>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to "Destroy", @survey, :method => :delete, :data=>{confirm: 'are you sure?', remote: true},:class => "delete" %> |
<%= link_to 'Back', surveys_path %>
